div.manage_acc_register{
    border: 1px solid #DDD;
    width: 100%;
    background: #FFF;
    svg.close_btn{
        float: right;
        font-size: 20px;
        margin-right: 10px;
        margin-top: 10px;
    }
    div{
        img{
            width: 130px;
            margin: 30px auto 0 auto;
        }
        form.acc_register_form{
            padding: 30px;
            div.register_title{
                font-size: 20px;
                font-weight: bold;
                background-color: #000;
                border-radius: 4px;
                padding: 5px 10px;
                color: #FFF;
                margin: 20px 0;
            }
            p,
            div.features{
                padding: 10px;
                display: flex;
                align-items: center;
                span:not(.radio){
                    font-weight: bold;
                    width: 140px;
                    text-align: end;
                    margin-right: 20px;
                }
                span.radio{
                    margin: 0 20px 0 10px;
                }
                input:not(.radio, .checkbox),
                textarea{
                    border-bottom: 1px solid #000;
                    width: 500px;
                    padding: 4px 5px;
                }
                button{
                    background: pink;
                }
                div{
                    width: 500px;
                    p{
                        padding: 0;
                        label{
                            width: 60px;
                            font-size: 12px;
                            margin: 10px;
                        }
                    }
                }
                &.features,
                &.summary{
                    align-items: flex-start;
                }
            }
            div.address_modal{
                position: absolute;
                width: 400px !important;
                left: calc(50% - 200px);
                top: 40px;
            }
            div.form_btn{
                text-align: end;
                button{
                    background: #000;
                    color: #FFF;
                    padding: 10px 0;
                    border-radius: 4px;
                    width: 100px;
                    margin: 50px 0 0 15px;
                }
            }
        }

    }
}