div.mypage_content {
  div.my_coupon {
    ul.my_coupon_navbar {
      margin-bottom: 2rem;
    }

    div.coupon_list_container {
      height: calc(600px + 3.2rem);
        div.coupon_wrapper {
            padding: 1rem;
            border: 1px solid #CCC;
            border-radius: 8px;
            margin-bottom: .8rem;
            height: 150px;
            display: flex;
            flex-direction: column;
            span.discount_price {
             font-size: 1.5em;
             font-weight: 600;
             margin-bottom: .3rem;
            }
            span.coupon_name {
                margin-bottom: 1.5rem;
            }
            small.coupon_expire_date {
                margin-bottom: .1rem;
            }
        }
        div.coupon_nolist {
          line-height: 600px;
            div {
                text-align: center;
                padding: 1rem 0 1rem 0;
            }
        }
    }
  }
}
