body{
    padding-top: 70px;
    div.header{
        position: fixed;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1800px;
        background: #FFF;
        display: flex;
        height: 70px;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0 20px 0;
        z-index: 10;
        div.header_left{
            padding: 5px 20px;
            img.main_logo,
            img.main_logo_white{
                width: 120px;
            }
        }
        div.header_right{
            display: flex;
            align-items: center;
            margin-top: 15px;
            font-size: 15px;
            nav{
                border-right: 1px solid lightgray;
                ul{
                    display: flex;
                    li{
                        a.menu{
                            margin: 0 20px;
                            text-decoration: none;
                            color: #000;
                            font-weight: bold;
                        }
                    }
                }
            }
            div.my{
                display: flex;
                align-items: center;
                padding: 0 30px;
                a{
                    text-decoration: none;
                    color: rgb(153,153,153);
                    font-weight: 600;
                    display: flex;
                    align-items: center ;
                }
                button.logout,
                a.join{
                    margin-left: 20px;
                    background: none;
                    border: none;
                    color: rgb(153,153,153);
                    font-weight: 600;
                    font-size: 15px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        div.menubar_bg{
            display: none;
            background: #000;
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }
        button.menubar{
            display: none;
        }
        .menubar_list{
            display: none;
        }
    }
    div.header_mobile{
        display: none;
    }
    @media screen and (max-width: 1024px) {
        div.header{
            div.header_right{
                display: none;
            }
            button.menubar{
                display: block;
                font-size: 23px;
                margin: 10px 20px 0 0;
            }
            div.menubar_list{
                display: block;
                height: 100vh;
                background: #FFF;
                width: 320px;
                padding: 30px 20px;
                position: absolute;
                right: -320px;
                top: 0px;
                transition: right 1s;
                div.my_info{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    div.profile{
                        display: flex;
                        align-items: center;
                        div.profile_img{
                            width: 40px;
                            height: 40px;
                            border: 1px solid rgb(221, 221, 221);
                            border-radius: 10px;
                            margin-right: 10px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                        div.name{
                            font-weight: bold;
                        }
                        div.non_login{
                            p{
                                font-size: 12px;
                                color: rgb(153,153,153);
                            }
                        }
                    }
                    div.close_btn{
                        button.close{
                            display: block;
                            font-size: 23px;
                        }
                    }
                }
                div.mypage_list{
                    border-top: 1px solid #E6E6E6;
                    padding-top: 10px;
                    ul{
                        margin-bottom: 30px;
                        li{
                            display: flex;
                            align-items: center;
                            a{
                                display: block;
                                width: 100%;
                                font-size: 15px;
                                line-height: 55px;
                                &::after{
                                    content: '>';
                                    position: absolute;
                                    right: 20px;
                                }
                            }
                        }
                    }
                    div.logout_area{
                        button.logout{
                            border: 1px solid #000;
                            width: 90%;
                            height: 50px;
                            padding: 15px 0;
                            font-size: 15px;
                            position: absolute;
                            bottom: 80px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
            div.open{
                right: 0;
            }
        }
        div.header_mobile{
            z-index: 10;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            display: block;
            height: 60px;
            background: #F5F5F5;
            padding: 10px 20px;
            border-top: 1px solid #E9E9E9;
            nav{
                ul{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    li{
                        a{
                            span.icon_mobile{
                                display: block;
                                font-size: 20px;
                                svg{
                                    margin: 0 auto;
                                }
                            }
                            span.menu_mobile{
                                font-size: 10px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}