div.visual_section {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  margin-bottom: 100px;
  div.img_container {
    width: 100%;
    height: 50em;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  div.text_container {
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 세로 중앙 정렬 추가 */
    background: rgb(0, 0, 0, 0.7);
    padding: 20px;
    div.acc_name{
      color: white;
      font-size: 1.7rem;
      margin-left : 30px;
      border-right: 1px solid gray;
      padding: 10px;
      padding-right: 20px;
    }
    div.acc_address{
      color: gray;
      font-size: 1.3rem;
      margin-right: 30px;
      border-left: 1px solid gray;
      padding: 10px;
      padding-left: 20px
    }
  }
  .gallery_link{
    position: absolute;
    border: 1px solid white;
    background: rgba(0,0,0,0.6);
    top : 5%;
    right : 3%;
    div{
      color:  white;
      font-size: 1.3rem;
      padding : 20px 10px;
    }
  }
}

div.whole_frame{
  margin-bottom : 50px;
  margin: 0 auto;
  .swiper-pagination-clickable .swiper-pagination-bullet{
    background: white;
  }
  .whole_container{
    padding : 100px 0 50px 0;
    .title{
      font-size: 2.8rem;
      font-weight: 500;
    }
    .border{
      border-top:3px solid black;
      margin-top:28px;
    }
    .room_swiper_container{
      .slide{
        .swiper_img{
          width: 100%;
        }
        .text_container{
          position: absolute;
          bottom:0;
          width: 100%;
          background: rgba(0,0,0,0.7);
          color: white;
          padding: 20px 20px;
          .room_name{
            font-size: 1.3rem;
            font-weight: 500;
          }
          .room_capa{
            font-size: 0.9rem;
            opacity: 0.7;
            margin-bottom: 20px;
          }
          .space_between{
            display: flex;
            justify-content: space-between;
            .room_price{
              font-size:1.3rem;
              font-weight: 500;
            }
            .room_reserve{
              text-decoration: underline;
              font-size: 1.0rem;
            }
          }
        }
      }
    }
  }
}

div.summary_whole_container{
  max-width: 1800px;
  margin : 0 auto;
  div.summary_container{
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    margin-bottom: 50px;
    div.summary_title{
      font-size: 2.0rem;
      font-weight: 400;
      margin-bottom: 10px;
    }
    div.border{
      border-left: 1.5px solid black;
      height: 40px;
      margin-left: 50%;
      margin-bottom: 30px;
    }
    div.summary_top,
    div.summary_bottom{
      width: 60%;
      margin: 0 auto;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2.3;
    }
    div.summary_top{
      margin-bottom: 50px;
    }
  }
}

div.whole_point_section{
  margin-bottom: 150px;
  div.point_section{
    position: relative;
    max-width: 1800px;
    margin: 0 auto;
    div.img_container{
      width: 100%;
      height: 45em;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(70%); 
      }
    }
    div.point_comment_box{
      position: absolute;
      background: black;
      text-align: center;
      color: white;
      top: 60%;
      left: 10%;
      width: 21%;
      padding: 33px 50px;
      transform: translateY(-50%);
      img{
        width: 50px;
        height: 50px;
        margin: 0 auto;
      }
      div.point_section_title{
        width: 250px;
        position: absolute;
        letter-spacing: 1.3rem;
        font-size: 1.4rem;
        left: 53%;
        top: -170px;
        transform: translateX(-50%);
      }
      div.point_comment_title{
        margin : 20px 0;
        font-size: 1.3rem;
        font-weight: 500;
      }
      div.point_comment_summary{
        font-size:0.8rem;
        color : gray;
      }
    }
    div.point_comment_box:nth-child(2) {
      left: 50%;
      transform: translate(-50%, -50%);

    }
  
    div.point_comment_box:nth-child(3) {
      left: 70%;
    }
  }
}

div.map_container{
  max-width: 1800px;
  margin : 0 auto;
  div.explain{
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 50px;
  }
  div.map{
    width: 100%;
    height: 27em;
  }
  div.map_text_container{
    div.text_address,
    div.text_tel,
    div.text_homepage{
      font-size: 0.9rem;
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width : 770px){
  div.whole_frame{
    background: linear-gradient(to right, #EEE 40%, transparent 50%);
    .whole_container{
      display:flex;
      margin-bottom : 100px;
      .title{
        font-size:3.6rem;
      }
    }
  }
}

@media screen and (max-width : 1025px){ //작은화면, 중간화면
  div.visual_section {
    .gallery_link{
      div{
        color:  white;
        font-size: 0.9rem;
        padding : 15px 10px;
      }
    }
  }
  
  div.whole_point_section{
    margin-bottom: 150px;
    div.point_section{
      position: relative;
      max-width: 1800px;
      margin: 0 auto;
      div.img_container{
        width: 100%;
        height: 45em;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: brightness(70%); 
        }
      }
      div.point_comment_box{
        position: absolute;
        background: black;
        color: white;
        font-size : 0.9rem;
        top: 60%;
        left: 10%;
        width: 80%;
        padding: 0 30px;
        transform: translateY(-50%);
        img{
          width: 35px;
          height: 35px;
          margin: 0 auto;
        }
        div.point_section_title{
          width: 250px;
          position: absolute;
          letter-spacing: 1.3rem;
          font-size: 1.4rem;
          left: 53%;
          top: -170px;
          transform: translateX(-50%);
        }
        div.point_section_flex{
          display: flex;
          padding-top : 30px;
          div.point_small_frame{
            margin-right: 20px;
            div.point_comment_title{
              margin : 20px 0;
              font-size : 0.9rem;
              font-weight: 500;
              white-space: nowrap;
            }
          } 
          div.point_comment_summary{
            font-size:0.8rem;
            text-align: left;
            color : gray;
          }
        }
      }
      div.point_comment_box:nth-child(2) {
        left: 50%;
        top : 40%;
        transform: translate(-50%, -50%);
      }
    
      div.point_comment_box:nth-child(3) {
        left: 10%;
        top : 80%;
      }
    }
  }


  
  div.map_container{
    div.map_text_container{
      div.mobile_title_container{
        margin-right: 50px; 
        div.text_title{
          margin-bottom:10px;
        }
      }
    }
  }
  
  div.map_container{
    div.explain{
      display: none;
    }
    div.map_text_container{
      display: flex;
      background: #EEE;
      padding:20px 20px;
      margin : 20px;
      font-size: 0.9rem;
      div.text_tel,
      div.text_homepage{
        color: gray;
      }
    }
  }
}

@media screen and (min-width : 1026px){ //큰 화면
  div.whole_frame{
    max-width: 1800px;
    .whole_container{
    .title{
      margin-bottom: 200px;
      margin-left: 50px;
      width: 20%;
      }
      .border{
        width: 25%;
      }  
    }    
  }

  div.summary_whole_container{
    div.summary_container{
      margin-bottom: 100px;
        div.summary_subtitle{
          font-size: 0.9rem;
          margin-bottom: 20px;
          letter-spacing : 5px;
        }
    }
  }

  div.map_container{
    position: relative;
    div.map_text_container{
      position: absolute;
      background: white;
      top:20%;
      left:10%;
      padding: 20px 40px;
      z-index:100;
      div.text_title,
      div.text_name{
        font-size: 1.3rem;
        font-weight:550;
      }
      div.text_title{
        margin-bottom:10px;
      }
      div.text_name{
        margin-bottom: 25px;
      }
      div.text_address,
      div.text_tel,
      div.text_homepage{
        color:gray;
      }
    }
    }
    
}

@media screen and (min-width : 770px) and (max-width : 1026px){
  div.whole_frame{
    margin-bottom: 100px;
    .whole_container{
      width: 80%;
      margin:0 auto;
      .title{
        width: 40%;
        font-size: 2.1rem;
        font-weight: 500;
      }
      .border{
        width: 10%;
        border-top:3px solid black;
        margin-top:28px;
      }
      .room_swiper_container{
        .slide {
          position:relative;
        }
        div.text_container{
          div.room_name{
            font-size : 1.3rem;
            margin-bottom : 7px;
          }
          div.room_capa{
            font-size: 0.8rem;
            margin-bottom : 33px;
          }
          div.space_between{
            div.room_price{
              font-size: 1rem;
            }
            div.room_reserve{
              font-size: 0.95rem;
            }
          }
        }
      }
    }
  }
  div.summary_whole_container{
    div.summary_container{
      margin-bottom: 50px;
      div.summary_title{
        font-size: 2.0rem;
        font-weight: 400;
        margin-bottom: 10px;
      }
      div.border{
        border-left: 1.5px solid black;
        margin : 30px 0 30px 50%
      }
      div.summary_top,
      div.summary_bottom{
        width: 73%;
        font-size: 0.9rem;
        line-height: 1.5;
      }
    }
  }
}

@media screen and (max-width : 769px){
  div.visual_section {
    margin-bottom: 50px;
    div.img_container {
      height: 80vh;
    }
    div.text_container{
      div.acc_name{
        border : none;
        padding: 5px;
        font-size: 1.1rem;
      }
    }
  }

  div.whole_frame{
    width: 100%;
    background: linear-gradient(to bottom, #EEE 80%, transparent 50%);
    .whole_container{
      .title{
        font-size: 2.1rem;
        width: 30%;
        margin: 0 auto;
        text-align: center;
      }
      .border{
        padding-bottom: 100px;
      }
      .room-swiper-container{
        width: 80%;
        .slide {
          position:relative;
          .swiper_img{
            width: 100%;
          }
          .text_container{
            padding: 10px 20px;
            .room_type{
              margin-top:15px;
              font-size: 0.7rem;
              color:rgba(255,255,255,0.8);
            }
            .room_name{
              margin-top:8px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  div.summary_whole_container{
    width: 100%;
    div.summary_container{
      div.border{
        margin-top : 20px;
      }
      div.summary_top,
      div.summary_bottom{
        width: 100%;
        font-size : 0.7rem;
        text-align: left;
        margin:0; 
      }
      div.summary_top{
        margin-bottom:30px;
      }
    }
  }

  div.whole_point_section{
    div.point_section_flex{
      padding-top : none;      
      div.point_comment_summary{
        padding-bottom : 20px;
      }
    }
  }
}