.gallery_whole_frame{
  width: 100%;
  .gallery_frame{
    display: flex;
    max-width: 1300px;
    margin : 50px auto 0 auto;
    justify-content: space-between;
    .gallery_title{
      width: 33%;
      font-size: 2.1rem;
      font-weight : 500;
      margin-left : 150px;
      .border{
        border-top : 2px solid black;
        margin-bottom : 30px;
        width: 80px;
      }
      .acc_address{
        font-size : 1.2rem;
        color : gray;
        margin-top : 20px;
      }
      .acc_name,
      .acc_address{
        width: 60%;
      }  
    }
    
    div.gallery_img{
      width: 66%;
      height: 10%;
      img{
        width: 88%;
      }
      img.acc_img{
        height: 16%;
        margin-bottom : 60px;
      }
    }
    div.room_img img{
      margin-bottom : 60px;
    }
  }
}

@media screen and (max-width : 1025px) {
  .gallery_whole_frame{
    .gallery_frame{
      display : block;
      margin : 50px auto 0 auto;
      padding : 0 10px 0 20px;
      .gallery_title{
        width: 33%;
        display: flex;
        font-size: 1.3rem;
        font-weight : 500;
        margin-bottom: 30px;
        align-items: flex-end;
        margin-left: 70px;
        .border{
          border : none;
        }
        .acc_name{
          width: 80%;
          margin-left:75px;
          padding-left:10px;
        }
        .acc_name,
        .room_name{
          border-left: 2px solid black;
          font-weight: 600;
          box-sizing: border-box;
        }
        .room_name{
          margin-left:35px;
          padding-left:7px;
        }
        .acc_address{
          font-size : 0.9rem;
          color : gray;
          margin-left : 5px;
        }
      }
      
      div.gallery_img{
        margin : 0 auto;
        width: 66%;
        height: 10%;
        img{
          width: 88%;
          margin : 0 auto;
        }
        img.acc_img{
          height: 16%;
          margin-bottom : 60px;
        }
      }
      div.room_img img{
        margin-bottom : 60px;
      }
    }
  }
}

@media screen and (max-width : 769px){
  .gallery_whole_frame{
    .gallery_frame{
      padding: 0 10px;
      .gallery_title{
        width: 70%;
        font-size: 1.2rem;
        margin-left: -50px;
        .acc_name{
          width: 60%;
          margin-left:10px;
        }
        .acc_address{
          font-size : 0.9rem;
        }
        .room_name{
          margin-left:10px;
        }
      }
      div.gallery_img{
        margin : 0 auto;
        width: 98%;
        height: 12.12%;
        img{
          width: 100%;
        }
      }

    }
  }
}