main.findstay{
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    @include pageTitle();
    font-size: 0.7rem;
    form.filter_container{
        border-top: 2px solid #000;
        div.filter_section{
            margin-bottom: 30px;
            div{
                border-bottom: 1px solid rgb(215, 215, 215);
                display: flex;
                align-items: center;
                padding: 5px 0;
                div{
                    border: none;
                    margin-right: 30px;
                    label{
                        margin-right: 10px;
                        font-weight: bold;
                    }
                    input{
                        width: 130px;
                        border: 1px solid rgb(215, 215, 215);
                        padding: 5px;
                    }
                    button{
                        margin-left: 10px;
                        background-color: rgb(215, 215, 215);
                        width: 70px;
                        padding: 5px;
                    }
                    div.modal{
                        position: absolute;
                        background: #FFF;
                        width: 300px;
                        height: 200px;
                        display: block;
                        text-align: end;
                        border-radius: 0.3rem;
                        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                        // &.personnel_modal{
                        //     top: 300px;
                        //     left: 40px;
                        // }
                        button{
                            background: none;
                            width: 30px;
                            font-size: 16px;
                        }
                        div.location_list{
                            background: blue;
                        }
                        // div.quantity_controls{
                        //     button{
                        //         width: 30px;
                        //     }
                        //     span{
                        //         margin: 0 10px;
                        //     }
                        // }
                        &.location_modal{
                                top: 260px;
                                left: 245px;
                        }
                    }

                    &.tilde{
                        margin-right: 10px;
                    }

                    /* 체크인, 체크아웃 */
                    &.checkin, &.checkout{
                        margin-right: 10px;
                        .react-datepicker-wrapper{
                            .react-datepicker__input-container{
                                justify-content: start;
                                button.react-datepicker__close-icon{
                                    background: none;
                                    display: flex;
                                    justify-content: flex-end;
                                    align-items: center;
                                    width: 30px;
                                    &::after{
                                        background: none;
                                        color: #000;
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                        input{
                            padding-left: 25px;
                        }
                        div{
                            display: flex;
                            justify-content: center;
                            padding: 0;
                            margin: 0;
                            .react-datepicker{
                                box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                                padding: 15px;
                                margin-top: 10px;
                                .react-datepicker__triangle{
                                    margin: -7px;
                                    &::before{
                                        border-bottom: none;
                                    }
                                    &::after{
                                        border-bottom-color: #FFF;
                                    }
                                }
                                button{
                                    background: none;
                                    width: 20px;
                                    top: 12px;
                                }
                                .react-datepicker__month-container{
                                    display: flex;
                                    flex-direction: column;
                                    .react-datepicker__header{
                                        background: none;
                                        display: flex;
                                        flex-direction: column;
                                        .react-datepicker__current-month{
                                            padding: 10px;
                                        }
                                        .react-datepicker__day-names{
                                            .react-datepicker__day-name{
                                                font-weight: bold;
                                                padding: 5px 20px;
                                            }
                                        }
                                    }
                                    .react-datepicker__month{
                                        display: flex;
                                        flex-direction: column;
                                        .react-datepicker__week{
                                            .react-datepicker__day{
                                                padding: 5px 20px;
                                            }
                                            .react-datepicker__day--selected{
                                                background: #a28f72;
                                                border-radius: 50%;
                                            }
                                            .react-datepicker__day--today{
                                                font-weight: normal;
                                            }
                                            .react-datepicker__day--keyboard-selected{
                                                background: none;
                                            }
                                            .react-datepicker__day--outside-month{
                                                color: #CCC;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
        } //filter_section
        div.btn_section{
            text-align: center;
            button.btn{
                background: #000;
                color: #FFF;
                padding: 7px 17px;
                border-radius: 20px;
                letter-spacing: 1px;
            }
        }
    }

    div.sort{
        margin-top: 70px;
        padding-bottom: 10px;
        border-bottom: 2px solid #000;
        ul{
            display: flex;
            justify-content: end;
            li{
                list-style-type: disc;
                margin-left: 40px;
                &::marker{
                    color: #999;
                }
                &:hover{
                    &::marker{
                        color: #000;
                    }
                }
                button{
                    font-weight: bold;
                    color: #999;
                    margin-left: -5px;
                    &:hover{
                        color: #000;
                        
                    }
                }
            }
        }
    }

    div.acc_list{
        display: grid;
        grid-template-columns: repeat(2, minmax(400px, auto));
        grid-column-gap: 100px;
        div.acc{
            padding-top: 70px;
            div.acc_title{
                font-size: 32px;
            }
            div.acc_content{
                display: flex;
                align-items: end;
                justify-content: space-between;
                div.acc_info{
                    p{
                        font-size: 14px;
                        line-height: 25px;
                    }
                }
                div.acc_imgs{
                    width: 70%;
                    div.swiper{
                        div.swiper-wrapper{
                            .swiper-slide{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .swiper-button-next::after,
                    .swiper-button-prev::after { 
                        color: #FFF;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
            }   
        }
    }
}