main.member {
  @include pageTitle($ft-size: 1.2rem, $mb: 5rem);
  padding: 0 2rem;
  margin: 0 auto;
  form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem 0 8rem 0;
    border-top: 1px solid black;
    width: 85%;
    @media screen and (min-width: $md-max-breakpoint) {
      width: 380px;
    }
    button,
    > a {
      padding: 1.8vh 0;
      text-align: center;
      &.black_box {
        color: white;
        background-color: black;
      }
      &.white_box {
        color: black;
        background-color: white;
        border: 1px solid black;
      }
    }
    p {
      display: flex;
      flex-direction: column;
      margin-bottom: 2vh;
      label {
        font-size: 0.8em;
        font-weight: 600;
        margin-bottom: 5px;
      }
      input:not(.join_checkbox) {
        height: 5vh;
        margin-bottom: 0.5vh;
        border-bottom: 1px solid #ccc;
        padding: 0 0.5rem;
        &::placeholder {
          color: #bbb;
        }
      }
    }
  }
}

main.join {
  form {
    p {
      margin-bottom: 2.5vh;
      small {
        font-size: 0.9em;
        text-wrap: nowrap;
        &.invalid_noti {
          color: rgba(231, 17, 17, 0.912);
        }
        &.valid_noti {
          color: blue;
        }
        &.user_id {
          margin-bottom: 10px;
        }
      } // 유효성 체크 노티
    }
    button.duplicate_check_btn {
      border: none;
      background-color: #777;
      color: white;
      font-size: 0.8rem;
      padding: 0.8rem 0;
      margin: 0.4rem 0;
    }

    ul.terms_container {
      padding: 0 0 1.5rem 0;
      li {  
        padding: 0.3rem;
        font-size: 0.9rem;
        &.term_agree_all {
          font-size: 1.03rem;
          font-weight: 600;
          padding-bottom: 0.8rem;
        }
        &:nth-child(2) {
          padding-top: 0.8rem;
          border-top: 1px solid #ccc;
        }
        &:last-of-type {
          padding-bottom: 0.8rem;
          border-bottom: 1px solid #ccc;
        }
        input {
          margin-right: 0.5rem;
          accent-color: black;
        }
        div:first-child {
          position: relative;
          button.term_detail_btn {
            position: absolute;
            top: -0.85rem;
            right: .2rem;
          }
        }
      }
      div.term_detail {
        margin-top: 1.5vh;
        padding: 1.5vh;
        height: 300px;
        overflow: scroll;
        background-color: #EEE;
        transition: all .5s;
      }
    }
    button.join_btn {
      margin-bottom: 1.2vh;
    }
  }
}
