main.member {
  @include pageTitle($ft-size:1.2rem, $mb:5rem);
  padding: 0 2rem;
  margin: 0 auto;
  form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem 0;
    border-top: 1px solid black;
    width: 80%;
    @media screen and (min-width: $md-max-breakpoint) {
      width: 380px;
    }
    button, > a {
      padding: 1.8vh 0;
      text-align: center;
      &.black_box {
        color: white;
        background-color: black;
      }
      &.white_box {
        color: black;
        background-color: white;
        border: 1px solid black;
      }
    }
    p {
      display: flex;
      flex-direction: column;
      margin-bottom: 2vh;
      label {
        font-size: .8em;
        font-weight: 600;
        margin-bottom: 5px;
      }
      input:not(.join_checkbox) {
        height: 5vh;
        margin-bottom: .5vh;
        border-bottom: 1px solid #CCC;
        padding: 0 .5rem;
        &::placeholder {
          color: #BBB;
        }
      }
    }
  }
}


main.join {
  form {
    p {
      margin-bottom: 2.5vh;
      small{
        font-size: .9em;
        display: none;
        &.invalid_noti {
          color: red;
        } 
        &.valid_noti {
          color: blue;
        }
        &.user_id {
          margin-bottom: 10px;
        }
      } // 유효성 체크 노티
    }
    button.duplicate_check_btn {
      font-size: 0.8rem;
    }
    
  }
}

