main.login {
  form {
    *:not(:last-child) {
      margin-bottom: 1.2vh;
    }
    p:last-of-type {
      margin-bottom: 2vh;
    }
    div.find_links_box {
      display: flex;
      justify-content: space-between;
      a {
        font-size: 0.9em;
      }
    }
  }
}
