div.notice_detail_page {
  max-width: 1300px;
  margin: 10vh auto;
  padding: 0 2rem;
  div.page_title_container {
    p.title {
      margin-left: 0;
    }
  }
  & > .notice_detail_content {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin-top: 5vh;
    padding-top: 5vh;
    border-top: 5px double black;
    & > figure {
      width: 90%;
      img {
        width: 100%;
      }
    }
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1vh 0;
      margin: 0 auto;
      & > p:nth-child(1) {
        height: 15%;
        font-size: 2rem;
        font-weight: 800;
      }
      & > p:nth-child(2) {
        height: 60%;
      }
      & > p:nth-child(n + 3):nth-child(-n + 4) {
        text-align: end;
      }
      & > a {
        text-align: end;
        text-decoration: underline;
        &:hover {
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (max-width: $lg-max-breakpoint) {
  div.notice_detail_page {
    & > .notice_detail_content {
      & > div {
        & > p:nth-child(1) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
@media screen and (max-width: $md-max-breakpoint) {
  div.notice_detail_page {
    & > .notice_detail_content {
      flex-direction: column;
      align-items: center;
      & > figure {
        margin-bottom: 2vh;
        width: 100%;
      }
      & > div {
        & > p:nth-child(1) {
          margin-bottom: 2vh;
        }
        & > p:nth-child(2) {
          margin-bottom: 2vh;
        }
        & > p:nth-child(n + 3):nth-child(-n + 4) {
          text-align: unset;
        }
      }
    }
  }
}
@include responsive('sm') {
  div.notice_detail_page {
    & > .notice_detail_content {
      & > div {
        & > p:nth-child(1) {
          font-size: 1rem;
        }
        & > p:nth-child(n + 2):nth-child(-n + 4),
        a {
          font-size: 0.9rem;
        }
      }
    }
  }
}
