div.notice_detail_page {
  max-width: 1300px;
  margin: 10vh auto;
  padding: 0 2rem;
  div.page_title_container {
    p.title {
      margin-left: 0;
    }
  }
  & > .notice_detail_content {
      // display: flex;
      // align-items: center;
      // justify-content: space-between;
      // flex-direction: row;
      & > p:nth-child(1) {
        height: 15%;
        font-size: 2rem;
        font-weight: 800;
        border-top: 5px double black;
        margin-top: 5vh;
        padding: 5vh 0 1vh 0;
      }     

    & > div {
      display: flex;
      justify-content: space-between;
      gap: 5%;
      & > figure {
        img {
          width: 100%;
        }
      }
      & > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        width: 100%;
        & > *:not(:last-child) {
          margin-bottom: 5vh;
        }
        & > textarea {
          height: 80%;
          resize: none;
        }
        & > p:nth-child(n + 2):nth-child(-n + 3) {
          text-align: end;
        }
        & > a {
          text-align: end;
          text-decoration: underline;
          &:hover {
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $lg-max-breakpoint) {
  div.notice_detail_page {
    & > .notice_detail_content {
        & > p:nth-child(1) {
          font-size: 1.2rem;
      }
    }
  }
}
@media screen and (max-width: $md-max-breakpoint) {
  div.notice_detail_page {
    & > .notice_detail_content {
      & > div{
        flex-direction: column;
        align-items: center;
        & > figure {
          margin-bottom: 2vh;
          width: 100%;
        }
        & > div {
          height: 30vh;
          & > textarea, & > p:nth-child(2) {
            margin-bottom: 1vh;
          }
          & > p:nth-child(3), & > a {
            margin-bottom: 2vh;
          }
          & > p:nth-child(n + 2):nth-child(-n + 3) {
            text-align: unset;
          }
        }
      }
    }
  }
}
@include responsive('sm') {
  div.notice_detail_page {
    & > .notice_detail_content {
      & > div > div {
        & > textarea {
          font-size: 1rem;
        }
        & > p:nth-child(n + 2):nth-child(-n + 3),
        a {
          font-size: 0.8rem;
        }
      }
    }
  }
}
