main.roomdetail_section {
  overflow: hidden;
  margin: 0 auto;
  @include pageTitle($mb: 4rem);

  >div.content_wrap {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;

    p.acc_name {
      margin-bottom: 50px;
      padding-bottom: 4px;
      border-bottom: 1px solid black;
      font-size: 1.2rem;
      font-weight: 500;
    }

    div.content_container {
      @include flexbox($jc: space-between, $ai: normal);
      margin-bottom: 4.2rem;
      padding: 1.5rem 0.5rem;

      div.room_info_container {
        @include flexbox($fd: column, $jc: space-between, $ai: flex-start);
        width: 40%;
        padding-bottom: 15px;

        div.info_top_wrap {
          p.info_title {
            margin-bottom: 15px;
            font-size: 0.9rem;
            letter-spacing: 0.2rem;
          }

          p.room_name {
            margin-bottom: 10px;
            font-size: 1.5rem;
            font-weight: 500;
          }

          p.acc_summary {
            font-size: 0.8rem;
            line-height: 1.2rem;
          }

          span.line {
            display: block;
            margin-bottom: 20px;
          }
        }

        div.info_bottom_wrap {
          p {
            font-size: 0.95rem;

            span {
              font-size: 0.9rem;
            }
          }

          p.time {
            margin-bottom: 5px;
          }

          p.capa {
            span.min_capa {
              margin-right: 5px;
            }

            span.max_capa {
              font-size: 0.9rem;
            }
          }
        }
      }

      div.room_swiper_container {
        width: 50%;

        div.swiper {
          margin-bottom: 30px;

          img {
            width: 100%;
          }

          div.swiper-pagination {
            margin-bottom: 5px;

            span.swiper-pagination-bullet {
              background-color: white;
              opacity: 0.6;
            }

            span.swiper-pagination-bullet-active {
              --swiper-theme-color: white;
              opacity: 1;
            }
          }
        }
      }

      div.checkdate_container {
        @include flexbox($jc: space-between);
        border-bottom: 1px solid black;
        font-size: 0.8rem;

        div.input_wrap {
          display: flex;
          padding-bottom: 5px;

          div.react-datepicker-wrapper {
            div.react-datepicker__input-container {
              input {
                position: relative;
                width: 90%;
                height: 25px;
                margin-right: 5px;
                padding: 3px 10px;
                border: 1px solid black;
                border-radius: 3px;
                background: no-repeat right 5px center;
                background-size: 15px 15px;
                line-height: 19px;
              }

              input[type='date']::-webkit-calendar-picker-indicator {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: transparent;
                color: transparent;
              }

              input[type='date']::before {
                content: attr(placeholder);
                width: 100%;
                height: 100%;
              }

              button.react-datepicker__close-icon {
                left: 75%;

                &::after {
                  border-radius: 0;
                  background-color: white;
                  font-size: 13px;
                  color: black;
                }
              }
            }
          }

          div.react-datepicker__tab-loop {
            position: absolute;

            div.react-datepicker {
              button {
                margin: 10px;
              }

              div.react-datepicker__month-container {
                div.react-datepicker__header {
                  background-color: #fff;

                  div.react-datepicker__current-month {
                    margin: 10px;
                    color: #867357;
                  }

                  div.react-datepicker__day-names {
                    div.react-datepicker__day-name {
                      color: #a28f72;
                    }
                  }
                }

                div.react-datepicker__month {
                  div.react-datepicker__week {
                    div.react-datepicker__day--selected {
                      border: 1px solid #867357;
                      background-color: #fff;
                      color: #a28f72;
                    }

                    div.react-datepicker__day--in-selecting-range {
                      border: none;
                      background-color: #f0f0f0;
                      color: #a28f72;
                    }

                    div.react-datepicker__day--in-range {
                      border: 1px solid #867357;
                      background-color: #f3ece1;
                      color: #a28f72;
                    }

                    div.react-datepicker__day--keyboard-selected {
                      border: 1px solid #867357;
                      background-color: white;
                      color: #ccc;
                    }
                  }
                }
              }
            }
          }
        }

        button.reservation_btn {
          width: 40%;
          margin-bottom: 5px;
          padding: 4px;
          border: 1px solid #a28f72;
          border-radius: 3px;
          background-color: #a28f72;
          font-weight: 500;
          color: white;
          text-align: center;
          word-break: keep-all;
          transition: padding, border-radius, background-color, border, color 0.5s;

          @media (hover:hover) {
            &:hover {
              @include btn_hover($color: #a28f72, $bd_color: #a28f72, $bg_color: white);
              border-width: 1.3px;
            }

            &:disabled:hover {
              border: 1px solid #a28f72;
              border-radius: 3px;
              background-color: #a28f72;
              color: white;
            }
          }
        }
      }
    }

    div.common_container {
      @include flexbox($jc: space-between);
      flex-wrap: nowrap;
      overflow-x: auto;
      padding: 2rem 1rem;
      border-top: 1px solid #ccc;
      color: #797979;

      &.amenities_container {
        margin-bottom: 6rem;
        padding: 3rem 1rem;
        border-bottom: 1px solid #ccc;
      }

      p.title {
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 0.2rem;
      }

      div.info {
        @include flexbox($jc: space-around);
        width: 80%;

        div {
          img {
            width: 30px;
            margin: 0 auto;
          }

          p {
            font-size: 0.7rem;
            text-align: center;
          }

          p.features {
            margin: 5px auto 0 auto;
          }
        }

        p.amenities {
          font-size: 0.7rem;
          text-align: center;
        }
      }
    }

    div.common_container+div.amenities_container+div.page_title_container {
      margin-bottom: 2rem;

      p.title {
        font-weight: 600;
      }
    }

    // review + other room
    div.btn_content_container {
      margin: 6rem 0;

      div.container_content {
        @include flexbox($fd: column);

        div.btn_title {
          margin-bottom: 5rem;

          button {
            font-size: 1rem;
            font-weight: bold;
            color: #ccc;
            letter-spacing: 0.3rem;
          }

          button:first-child {
            margin-right: 20px;
          }

          button.active {
            color: black;
          }
        }

        // review o + 페이지네이션
        div.review_container {
          @include flexbox($fd: column, $ai: center);
          width: 90%;

          div.total_review_register {
            @include flexbox($jc: space-between, $ai: flex-start);
            width: 90%;

            div.register_wrap {
              width: 20%;
              padding-right: 3px;

              >div.btn_wrap {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                svg {
                  transition: all 0.1s;
                }

                button.register_btn {
                  margin-left: 0.3rem;
                  border-bottom: 1px solid transparent;
                  font-weight: 500;
                  transition: all 0.1s;
                }

                @media (hover:hover) {
                  &:hover>svg,
                  &:hover>button.register_btn {
                    color: #a28f72;
                  }

                  &:hover button {
                    font-weight: bold;
                  }
                }
              }
            }

            div.total_review_info {
              width: 80%;
              margin-left: auto;

              div.total_review_inner {
                @include flexbox($jc: flex-end);
                padding-bottom: 0.4rem;
                color: #333;

                // 공통
                svg {
                  margin: 0 3px 0 0;
                  // margin: 0 3px 3px 0;
                }

                p.avg_text,
                p.cnt_text {
                  margin-right: 5px;
                  font-weight: 600;
                }

                p.total_avg,
                span {
                  margin-right: 4px;
                }

                // 개별
                div.avg_wrap {
                  display: flex;

                  p.avg_text {
                    margin-bottom: 1px;
                  }

                  div.star_wrap {
                    @include flexbox;
                    margin: 0 5px 1px 0;

                    svg {
                      color: #867357;
                      margin: 0;
                    }
                  }

                  p.total_avg {
                    // padding-top: 1px;
                    padding-bottom: 3px;
                    font-weight: bold;
                    color: #867357;
                  }
                }

                span {
                  color: #979797;
                }

                div.cnt_wrap {
                  display: flex;

                  p.total_cnt {
                    font-weight: 500;
                  }
                }
              }
            }
          }

          div.review_wrap {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 90%;

            div.review_content {
              width: 48%;
              margin-bottom: 3rem;

              div.review_img {
                height: 400px;
                margin-bottom: 1rem;

                img {
                  width: 100%;
                  height: 100%;
                  margin-bottom: 1rem;
                  object-fit: cover;
                }
              }
            }

            // 별점
            div.star_info {
              @include flexbox($jc: flex-end);
              margin-bottom: 1rem;

              div.star_wrap {
                @include flexbox;
                margin-right: 5px;
                color: #a28f72;

                svg.unselected {
                  color: #a28f72;
                }
              }

              span {
                margin-bottom: -2px;
                // margin-bottom: -4px;
                color: #867357;
              }
            }

            // 작성자, 작성 날짜
            div.review_info {
              @include flexbox($jc: space-between);
              margin-bottom: 10px;
              padding-bottom: 4px;
              border-bottom: 1px solid black;

              p {
                font-size: 0.9rem;
              }

              p:first-child {
                font-weight: bold;
              }

              p:last-child {
                text-align: right;
              }
            }

            p.review_text {
              width: 100%;
              font-size: 0.9rem;
              line-height: 1.2rem;
              color: #7b7a7a;
            }
          }

          // 페이지네이션
          ul.pagination {
            @include flexbox($ai: flex-end);
            width: 100%;
            margin-top: 3rem;

            li {
              margin: 0 0.5rem;

              &.active a {
                display: block;
                width: 20px;
                height: 20px;
                padding-top: 1px;
                border-radius: 7px;
                background: #867357;
                font-weight: bold;
                font-size: 0.9rem;
                color: white;
                line-height: 20px;
                text-align: center;
              }
            }
          }
          // modal
          div.bg_modal {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.5);

            div.review_modal {
              @include pos-center($type: fixed);
              width: 70%;
              height: 88%;
              background: rgba(0, 0, 0, 0.8);
              border-radius: 10px;

              div.logo_wrap {
                @include flexbox;
                width: 100%;
                height: 18%;

                img {
                  width: 25%;
                }
              }

              form.modal_form {
                @include flexbox($fd: column, $jc: normal);
                padding: 1rem 2rem;
                height: 82%;
                color: #797979;

                div.date_wrap {
                  display: flex;
                  align-items: center;
                  width: 80%;
                  margin-bottom: 2rem;

                  label {
                    width: 25%;
                    font-weight: bold;
                  }

                  select {
                    width: 70%;
                    padding: 0.2rem;
                    border: 1px solid #797979;
                    border-radius: 5px;
                    font-size: 0.8rem;
                    color: #797979;
                  }
                }

                div.img_wrap {
                  display: flex;
                  width: 80%;
                  margin-bottom: 2rem;

                  label {
                    width: 25%;
                    font-weight: bold;
                  }

                  input {
                    display: none;
                  }

                  div.icon_wrap {
                    @include flexbox($jc: space-between, $ai: center);
                    width: 70%;
                    padding: 0 4px;
                    border-bottom: 1px solid #797979;

                    p {
                      font-size: 0.9rem;

                      &.icon_text {
                        font-size: 0.8rem;
                      }
                    }

                    button.file_icon_btn {
                      @media (hover:hover) {
                        &:hover svg {
                          fill: white;
                        }
                      }

                      svg {
                        fill: #797979;
                      }
                    }
                  }
                }

                div.star_container {
                  @include flexbox($jc: flex-start, $ai: flex-start);
                  margin-bottom: 2rem;
                  width: 80%;

                  p {
                    width: 25%;
                    font-weight: bold;
                  }

                  div.star_content {
                    @include flexbox($jc: space-between);
                    width: 70%;
                    padding-right: 4px;
                    border-bottom: 1px solid #797979;

                    div.star_wrap {
                      position: relative;
                      display: flex;
                      align-items: center;
                      flex-direction: row-reverse;
                      margin: 0 5px;

                      input {
                        display: none;
                      }

                      input:focus~label,
                      label:hover,
                      label:hover~label,
                      input:checked~label {
                        transition: 0.2s;
                        color: rgb(226, 195, 70);
                      }

                      label {
                        color: #aeaeae;
                        color: #424242;
                        cursor: pointer;

                        &:nth-of-type(2n) {
                          position: absolute;
                          width: 8px;
                          overflow: hidden;
                        }

                        &:nth-of-type(2) {
                          transform: translateX(-8px);
                        }

                        &:nth-of-type(4) {
                          transform: translateX(-24px);
                        }

                        &:nth-of-type(6) {
                          transform: translateX(-40px);
                        }

                        &:nth-of-type(8) {
                          transform: translateX(-56px);
                        }

                        &:nth-of-type(10) {
                          transform: translateX(-72px);
                        }
                      }
                    }

                    span {
                      font-weight: bold;
                      color: rgb(226, 195, 70);
                      text-align: right;
                    }
                  }
                }

                div.content_wrap {
                  @include flexbox($jc: flex-start, $ai: flex-start);
                  width: 80%;
                  margin-bottom: 0.5rem;
                  background: transparent;

                  label {
                    width: 25%;
                    font-weight: bold;
                  }

                  textarea {
                    width: 70%;
                    height: 30vh;
                    padding: 0.5rem;
                    font-size: 0.8rem;
                    border: 1px solid #797979;
                    border-radius: 6px;
                    color: #dadada;
                    resize: none;

                    &::placeholder {
                      text-align: center;
                    }
                  }
                }

                div.text_length {
                  width: 70%;
                  text-align: right;
                  margin-bottom: 2rem
                }

                div.btn_wrap {
                  @include flexbox;
                  width: 87%;

                  button {
                    width: 40%;
                    padding: 0.6rem;
                    border: 1px solid #797979;
                    border-radius: 10px;
                    background: rgba(100, 100, 100, 0.5);
                    font-size: 0.8rem;
                    color: #a7a6a6;

                    &.close_btn {
                      margin-right: 5%;
                    }

                    &:disabled {
                      border-color: black;
                      color: #797979;
                    }

                    @media (hover:hover) {
                      &:not(:disabled):hover {
                        border: 1px solid rgb(184, 184, 184);
                        background: rgb(124, 124, 124);
                        color: black;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        // review x 
        div.review_container.empty {
          width: auto;
          div.register_wrap.empty {
            width: 100%;
            div.btn_wrap {
              display: flex;
              justify-content: flex-end;
              margin-bottom: 0.5rem;
              padding-right: 2%;
              svg {
                margin-right: 1%;
              }
            }
            @media (hover:hover) {
              &:hover>div.btn_wrap svg,
              &:hover>div.btn_wrap button.register_btn {
                color: #a28f72;
              }

              &:hover button {
                font-weight: bold;
              }
            }
          }
          div.content_wrap {
            @include flexbox($fd: column);
            height: 30vh;
            background: #f2f1f1;
            border-radius: 1rem;

            img {
              width: 30%;
              margin-bottom: 1rem;
            }

            p {
              font-size: 0.9rem;
              color: #636262;

              &:last-child {
                margin-top: 0.5rem;
              }
            }
          }
        }

        // other room
        div.other_room_container {
          @include flexbox($fd: column);

          a {
            margin-bottom: 30px;

            img {
              width: 100%;
            }
          }

          p.room_name {
            margin-bottom: 5px;
            font-weight: 600;
          }

          p.max_capa {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  /* 공통  guide */
  div.guide {
    width: 100vw;
    background-color: black;

    div.room_guide_container {
      max-width: 1300px;
      margin: 0 auto;
      padding: 5rem 2rem 4rem 2rem;
      color: #aeaeae;

      div.title_wrap {
        @include flexbox($jc: flex-start);
        margin-bottom: 3rem;

        p:first-child {
          width: 20%;
          font-size: 1.3rem;
          font-weight: bold;
        }

        p:last-child {
          font-weight: 500;
        }
      }

      div.info_wrap {
        @include flexbox($jc: flex-start, $ai: normal);

        div.info_nav {
          @include flexbox($fd: column, $jc: flex-start, $ai: flex-start);
          width: 20%;

          button {
            margin-bottom: 1rem;
            padding: 10px 32px;
            border: 1px solid #5a5757;
            background: #272727;
            border-radius: 5px;
            color: #b5b5b5;

            &.active {
              border: 1px solid #7b7a7a;
              border-radius: 5px;
              background: black;
              transition: all 0.3s;

              @media (hover:hover) {
                &:hover {
                  color: white;
                }
              }
            }

            @media (hover:hover) {
              &:hover {
                background-color: #bcbcbc;
                color: black;
              }
            }
          }
        }

        div.guide_content_wrap {
          width: 80%;

          div.content_box {
            display: flex;

            &:not(:last-child) {
              margin-bottom: 2rem;
            }

            p.title {
              width: 15%;
              font-weight: bold;
            }

            p:not(:first-child) {
              display: flex;
              font-size: 0.8rem;
              margin-bottom: 1rem;

              svg {
                margin-right: 5px;
              }
            }
          }

          div.content_box.price {
            div.content {
              width: 80%;

              p:first-child {
                margin-bottom: 20px;
                font-size: 0.8rem;
              }

              table {
                width: 100%;
                margin-bottom: 2rem;
                border: 0.5px solid #595959;
                border-collapse: collapse;
                text-align: center;

                th,
                td {
                  padding: 0.5rem 2rem;
                  border: 0.5px solid #595959;
                  font-size: 0.9rem;
                }
              }

              p:not(first-child) {
                margin-bottom: 1rem;
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }

  // room_guide ( 이용 안내 )
  div.guide div.room_guide_container {
    div.info_wrap {
      div.guide_content_wrap.use_guide {
        display: flex;

        p.title {
          width: 15%;
          margin-bottom: 1rem;
          font-weight: bold;
        }

        div.content {
          width: 80%;
          word-break: keep-all;

          p {
            margin-bottom: 1rem;
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  @media screen and (min-width: $xlg-breakpoint) {
    & {
      >div.content_wrap {
        div.btn_content_container {
          margin: 8rem 0;

          div.container_content {
            div.review_container {
              div.total_review_register {
                margin-bottom: 0.1rem;
              }
              div.bg_modal {
                div.review_modal {
                  width: 635px;

                  div.logo_wrap {
                    img {
                      width: 23%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    div.room_guide_container {
      padding: 5rem 4rem 4rem 4rem;
    }
  }

  @media screen and (max-width: $lg-max-breakpoint ) {
    & {
      >div.content_wrap {
        div.content_container {
          div.room_swiper_container {
            div.checkdate_container {
              flex-direction: column;
              border-bottom: none;

              div.input_wrap {
                justify-content: space-between;
                width: 100%;
                margin-bottom: 10px;

                div.react-datepicker-wrapper {
                  width: 47.5%;

                  div.react-datepicker__input-container {
                    input {
                      width: 100%;
                    }

                    button.react-datepicker__close-icon {
                      left: auto;
                    }
                  }
                }
              }

              button.reservation_btn {
                width: 100%;
                height: 30px;
                padding: 5px;
                line-height: 20px;
              }
            }
          }
        }

        // 리뷰 탭메뉴 + 모달
        div.btn_content_container {
          div.container_content {
            div.btn_title {
              margin-bottom: 4rem;
            }

            div.review_container {
              div.total_review_register {
                div.register_wrap {
                  margin-bottom: 0;
                }
              }
              div.bg_modal {
                div.review_modal {
                  width: 600px;

                  div.logo_wrap {
                    img {
                      width: 23%;
                    }
                  }
                }
              }
              div.review_wrap {
                div.review_content {
                  div.review_img {
                    height: 300px;
                  }
                }
              }

            }
          }
        }
      }
    }
  }

  @media screen and (max-width : 854px) {
    & {
      >div.content_wrap {
        padding: 0 2rem;

        p.acc_name {
          margin-bottom: 20px;
        }

        div.content_container {
          flex-direction: column;
          margin-bottom: 2rem;
          padding: 2rem 0.5rem;

          div.room_info_container {
            width: 100%;
            margin-bottom: 20px;

            div.info_top_wrap {
              margin-bottom: 50px;
            }

            div.info_bottom_wrap {
              margin-bottom: 15px;

              p {
                font-size: 0.9rem;
              }
            }
          }

          div.room_swiper_container {
            width: 100%;

            div.checkdate_container {
              flex-direction: column;
              border-bottom: none;

              div.input_wrap {
                justify-content: space-between;
                width: 100%;
                margin-bottom: 10px;

                div.react-datepicker-wrapper {
                  width: 47.5%;

                  div.react-datepicker__input-container {
                    input {
                      width: 100%;
                    }
                  }
                }
              }

              button.reservation_btn {
                width: 100%;
                height: 30px;
                padding: 5px;
                line-height: 20px;
              }
            }
          }
        }

        div.common_container {
          flex-direction: column;
          align-items: flex-start;

          &.features_contatiner {
            div.info {
              overflow-x: auto;

              div {
                margin-right: 10px;
              }
            }
          }

          &.amenities_container {
            padding: 2rem 1rem;

            div.info {
              margin-bottom: 10px;
            }
          }

          p.title {
            margin-bottom: 20px;
          }

          div.info {
            width: 100%;
            white-space: nowrap;

            p.amenities {
              margin-right: 0;
            }
          }
        }

        div.common_container+div.amenities_container+div.page_title_container {
          margin-bottom: 30px;

          p.title {
            font-weight: 600;
          }
        }

        // 리뷰 탭메뉴 + 모달
        div.btn_content_container {
          div.container_content {
            div.btn_title {
              margin-bottom: 3rem;
            }

            div.review_container {
              div.total_review_register {
                div.total_review_info {
                  div.total_review_inner {

                    p.avg_text,
                    p.cnt_text {
                      margin-right: 3px;
                      font-size: 0.9rem;
                      color: #797979;
                    }

                    p.total_avg,
                    span {
                      margin-right: 0;
                    }

                    p.total_avg,
                    p.total_cnt {
                      font-size: 0.9rem;
                    }

                    // 개별
                    div.cnt_wrap {
                      p.total_cnt {
                        color: #797979;
                      }
                    }
                  }
                }
              }

              div.review_wrap {
                div.review_content {
                  div.review_img {
                    height: 300px;
                  }
                }
              }
            }

            div.other_room_container {
              a {
                width: 90%;
              }
            }
          }
        }
      }

      /* 공통  guide */
      div.guide div.room_guide_container {
        div.title_wrap {
          flex-direction: column;

          p:first-child {
            width: 100%;
            margin-bottom: 10px;
            text-align: center;
            font-size: 1.1rem;
          }

          p:last-child {
            font-size: 0.9rem;
          }
        }

        div.info_wrap {
          flex-direction: column;

          div.info_nav {
            flex-direction: row;
            justify-content: space-between;
            width: 95%;

            button {
              width: 27%;
              padding: 7px 20px;
              border-radius: 15px;
              text-align: center;

              &.active {
                border: 1px solid #ccc;
                border-radius: 15px;
                background: black;
              }
            }
          }

          div.guide_content_wrap {
            width: 100%;
            padding-top: 2rem;


            div.content_box {
              p.title {
                padding-left: 0.5rem;
                text-align: left;
              }
            }

            div.content_box.price {
              div.content {
                p:first-child {
                  margin-bottom: 1rem;
                }

                table {

                  th,
                  td {
                    padding: 0.5rem 1rem;
                    font-size: 0.8rem;
                  }

                  th {
                    color: #a4a4a4;
                  }
                }
              }
            }
          }
        }
      }

      // 개별 이용 안내
      div.guide div.room_guide_container {
        div.info_wrap {
          div.guide_content_wrap.use_guide {
            p.title {
              padding-left: 0.5rem;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width : 700px) {
    & {
      >div.content_wrap {
        div.content_container {
          margin-bottom: 30px;

          div.room_info_container {
            div.info_top_wrap {
              margin-bottom: 60px;
            }

            div.info_bottom_wrap {
              margin-bottom: 0;
            }
          }
        }

        div.common_container {
          align-items: flex-start;

          &.features_container {
            div.info {
              justify-content: flex-start;
            }
          }

          &.amenities_container {
            margin-bottom: 0;

            div.info {
              justify-content: flex-start;
              margin-bottom: 0;
            }
          }

          div.info {
            overflow-x: auto;

            div {
              margin-right: 20px;
              padding-bottom: 1rem;
            }

            p.amenities {
              margin-right: 10px;
              padding-bottom: 1rem;
            }
          }
        }

        // 리뷰 탭메뉴 + 모달
        div.btn_content_container {
          div.container_content {
            div.review_container {
              width: 100%;
              div.total_review_register {
                padding: 0 0.5rem;
              }

              // 모달
              div.bg_modal {
                div.review_modal {
                  width: 80%;
                  height: 95%;

                  div.logo_wrap {
                    height: 17%;

                    img {
                      width: 28%;
                    }
                  }

                  // form 
                  form.modal_form {
                    justify-content: space-between;
                    height: 83%;
                    padding: 0;

                    div.date_wrap {
                      flex-direction: column;
                      align-items: normal;
                      margin-bottom: 1.6rem;

                      label {
                        margin-bottom: 10px;
                        font-size: 0.9rem;
                      }

                      select {
                        width: 100%;
                      }
                    }

                    div.img_wrap {
                      flex-direction: column;
                      margin-bottom: 1.6rem;

                      label {
                        margin-bottom: 10px;
                        font-size: 0.9rem;
                      }

                      div.icon_wrap {
                        width: 100%;
                      }
                    }

                    div.star_container {
                      flex-direction: column;
                      margin-bottom: 1.6rem;

                      p {
                        margin-bottom: 10px;
                        font-size: 0.9rem;
                      }

                      div.star_content {
                        width: 100%;
                      }
                    }

                    div.content_wrap {
                      flex-direction: column;

                      label {
                        width: 50%;
                        margin-bottom: 10px;
                        font-size: 0.9rem;
                      }

                      textarea {
                        width: 100%;
                      }
                    }

                    div.text_length {
                      width: 80%;
                      margin-bottom: 1.5rem;
                    }

                    div.btn_wrap {
                      margin-bottom: 2rem;
                    }
                  }
                }
              }

              div.review_wrap {
                flex-direction: column;
                align-items: center;
                width: 90%;

                div.review_content {
                  width: 100%;
                  padding: 0 0.5rem;

                  div.review_img {
                    height: 420px;
                  }
                }
              }
            }
          }
        }
      }

      // 공통 guide
      div.guide div.room_guide_container {
        div.title_wrap {
          margin-bottom: 2rem;

          p:first-child {
            font-size: 1rem;
          }

          p:last-child {
            font-size: 0.8rem;
          }
        }

        div.info_wrap {
          div.info_nav {
            margin: 0 auto;

            button {
              width: 30%;
              padding: 5px 0;
              font-size: 0.8rem;
            }
          }

          div.guide_content_wrap {
            border-top: 1px solid #ccc;

            div.content_box {
              flex-direction: column;
              padding-top: 2rem;

              &:not(:last-child) {
                margin-bottom: 0;
              }


              p.title {
                width: 100%;
                margin-bottom: 0.5rem;
                padding-left: 0;
                font-weight: bold;
                color: #ccc;
              }
            }

            div.content_box:first-child {
              flex-direction: column;

              div.content {
                width: 100%;

                table {

                  th,
                  td {
                    padding: 5px;
                  }
                }
              }
            }
          }
        }
      }

      // room_guide ( 예약 안내 )
      div.guide div.room_guide_container {
        div.info_wrap {

          div.guide_content_wrap.reservation_guide,
          div.guide_content_wrap.refund_guide {
            padding-top: 1rem;

            div.content_box:first-child {
              div.content {
                p:first-child {
                  margin: 0.5rem 0;
                  font-size: 0.7rem;
                  text-align: left;
                }
              }
            }
          }
        }
      }

      // room_guide ( 이용 안내 )
      div.guide div.room_guide_container {
        div.info_wrap {
          div.guide_content_wrap.use_guide {
            flex-direction: column;

            p.title {
              width: 100%;
              padding-top: 1rem;
              padding-left: 0;
            }

            div.content {
              width: 100%;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 550px) {
    & {
      >div.content_wrap {
        div.content_container {
          div.room_info_container {
            div.info_top_wrap {
              p.room_name {
                font-size: 1.3rem;
              }
            }
          }
        }

        div.btn_content_container {
          margin: 5rem 0;

          div.container_content {
            div.review_container {
              div.total_review_register {
                flex-direction: column;
                width: 100%;
                margin-bottom: 1%;

                div.register_wrap {
                  width: 100%;
                  padding-right: 0;

                  div.btn_wrap {
                    justify-content: flex-end;
                    padding-right: 0;
                    color: #333;

                    button.register_btn {
                      color: #333;
                    }
                  }
                }

                div.total_review_info {
                  width: 100%;

                  div.total_review_inner {
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    padding-bottom: 0.2rem;

                    p.total_avg,
                    span {
                      margin-right: 0;
                    }

                    p.total_avg,
                    p.total_cnt {
                      font-size: 0.9rem;
                    }

                    // 개별
                    span {
                      display: none;
                    }
                  }
                }
              }

              div.bg_modal {
                div.review_modal {
                  width: 95%;

                  div.logo_wrap {
                    height: 15%;
                    img {
                      // width: 35%;
                      max-width: 30%;
                    }
                  }

                  // form
                  form.modal_form {
                    div.date_wrap {
                      margin-bottom: 1.3rem;
                    }

                    div.img_wrap {
                      margin-bottom: 1.3rem;
                    }

                    div.star_container {
                      margin-bottom: 1.3rem;
                    }

                    div.text_length {
                      margin-bottom: 1.3rem;
                    }

                    div.btn_wrap {
                      margin-bottom: 1.5rem;
                    }
                  }
                }
              }

              div.review_wrap {
                width: 100%;

                div.review_content {
                  width: 100%;

                  div.review_img {
                    height: 280px;
                  }
                }
              }
            }
          }
        }
      }
      div.modal_container {
        div.modal_content {
          width: 90%;
          img {
            width: 40%;
            margin-bottom: 8%;
          }
          div.text_wrap {
            margin-bottom: 8%;
          }
        }
      }
    }
  }
}