main.roomdetail_section {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
  @include pageTitle($mb: 4rem);
  p.acc_name{
    margin-bottom: 50px;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    font-weight: 500;
  }
  div.content_container {
    @include flexbox($jc: space-between, $ai: normal);
    margin-bottom: 4.2rem;
    padding: 1.5rem 0.5rem;

    div.room_info_container {
      @include flexbox($fd: column, $jc: space-between, $ai: flex-start);
      width: 40%;
      padding-bottom: 15px;

      div.info_top_wrap {
        p.info_title {
          margin-bottom: 15px;
          font-size: 0.9rem;
          letter-spacing: 0.2rem;
        }
        
        p.room_name {
          margin-bottom: 10px;
          font-size: 1.5rem;
          font-weight: 500;
        }
        p.acc_summary {
          font-size: 0.8rem;
          line-height: 1.2rem;
        }
        span.line {
          display: block;
          margin-bottom: 20px;
        }
      }

      div.info_bottom_wrap {
        p {
          font-size: 0.95rem;
          span {
            font-size: 0.9rem;
          }
        }

        p.time {
          margin-bottom: 5px;
        }

        p.capa {
          span.min_capa {
            margin-right: 5px;
          }
          span.max_capa {
            font-size: 0.9rem;
          }
        }
      }
    }

    div.room_swiper_container {
      width: 50%;

      div.swiper {
        margin-bottom: 30px;
        img {
          width: 100%;
        }
        div.swiper-pagination {
          margin-bottom: 5px;
          
          span.swiper-pagination-bullet {
            background-color: white;
            opacity: 0.6;
          }
          
          span.swiper-pagination-bullet-active {
            --swiper-theme-color: white;
            opacity: 1;
          }
        }
      }
    }
      
      div.checkdate_container {
        @include flexbox($jc: space-between);
        border-bottom: 1px solid black;
        font-size: 0.8rem;
        div.input_wrap {
          display: flex;
          padding-bottom: 5px;
          div.react-datepicker-wrapper {
            div.react-datepicker__input-container {
              input {
                position: relative;
                width: 90%;
                height: 25px;
                margin-right: 5px;
                padding: 3px 10px;
                border: 1px solid black;
                border-radius: 3px;
                background: no-repeat right 5px center; 
                background-size: 15px 15px;
                line-height: 19px;
              }
            }
          }

          div.react-datepicker__tab-loop {
            position: absolute;
            div.react-datepicker {
              button {
                margin: 10px;
              }
              div.react-datepicker__month-container {
                div.react-datepicker__header {
                  background-color: #fff;
                  div.react-datepicker__current-month {
                    margin: 10px;
                    color: #867357;
                  }
                  div.react-datepicker__day-names {
                    div.react-datepicker__day-name {
                      color: #a28f72;
                    }
                  }
                }
                div.react-datepicker__month {
                  div.react-datepicker__week {
                    div.react-datepicker__day--selected {
                      border: 1px solid #867357;
                      background-color: #fff;
                      color: #a28f72;
                    }
                    div.react-datepicker__day--in-selecting-range {
                      border: none;
                      background-color: #f0f0f0;
                      color: #a28f72;
                    }
                    div.react-datepicker__day--in-range {
                      border: 1px solid #867357;
                      background-color: #f3ece1;
                      color: #a28f72;
                    }
                    div.react-datepicker__day--keyboard-selected {
                      background-color: #867357;
                      color: white;
                    }
                  }
                }
              }
            }
          }
        }

        button.reservation_btn {
          width: 30%;
          margin-bottom: 5px;
          padding: 4px;
          border: 1px solid #a28f72;
          border-radius: 3px;
          background-color: #a28f72;
          font-weight: 500;
          color: white;
          text-align: center;
          transition: padding, border-radius, background-color, border, color 0.5s;
          &:hover {
            @include btn_hover($color:#a28f72, $bd_color: #a28f72, $bg_color:white);
            border-width: 1.3px;
          }
        }
      }
    }

        input[type='date']::-webkit-calendar-picker-indicator {
          position: absolute; 
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          color: transparent;
        }

        input[type='date']::before {
          content: attr(placeholder);
          width: 100%;
          height: 100%;
        }

    div.common_container {
      @include flexbox($jc: space-between);
      flex-wrap: nowrap; 
      overflow-x: auto;
      padding: 2rem 1rem;
      border-top: 1px solid #ccc;
      color: #797979;
      &.amenities_container {
        margin-bottom: 5rem;
        padding: 3rem 1rem;
        border-bottom: 1px solid #ccc;
      }
      p.title {
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 0.2rem;
      }
      div.info {
        @include flexbox($jc: space-around);
        width: 75%;
        div {
          img {
            width: 30px;
            margin: 0 auto;
          }
          p {
            font-size: 0.7rem;
            text-align: center;
          }
          p.features {
            margin: 5px auto 0 auto;
          }
        }
        p.amenities {
          font-size: 0.7rem;
          text-align: center;
        }
      }
    }

    div.common_container + div.amenities_container + div.page_title_container {
      margin-bottom: 2rem;        
        p.title {
          font-weight: 600;
      }
    }

    div.modal_container {
      @include pos_center(fixed);
      z-index: 10;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      div.modal_content {
        @include pos_center(fixed);
        @include flexbox($fd: column);
        width: 500px;
        height: 300px;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        img {
          width: 30%;
          margin-bottom: 5%;
        }
        div.text_wrap {
            width: 100%;
            margin-bottom: 5%;
            padding: 1.5rem;
            background-color: #a28f72;
            color: white;
            p:first-child {
              margin-bottom: 10px;
            }
        }
        div.btn_wrap {
          width: 100%;
          button {
            width: 35%;
            height: 35px;
            padding: 4px;
            border: 1px solid #a28f72;
            border-radius: 3px;
            background-color: white;
            color: #a28f72;
            text-align: center;
            transition: padding, border-radius, background-color, border, color 0.5s;
            &:hover {
              border-width: 10px;
              border-width: 1.3px;
              background-color: white;
              font-weight: 900;
            }
            &:first-child {
              margin-right: 5%;
            }
          }
        }
      }
    }

    div.other_room_container {
      @include flexbox(column);
      margin-bottom: 4rem;
      a {
        width: 40%;
        margin-bottom: 30px;
        img {
          width: 100%;
        }
      }
      
      p.room_name {
        margin-bottom: 5px;
        font-weight: 600;
      }
      p.max_capa {
        font-size: 0.8rem;
      }
    }

  @media screen and (max-width: $xlg-breakpoint ) {
    & {
      div.content_container {
        div.room_swiper_container {
          div.checkdate_container {
            flex-direction: column;
            border-bottom: none;
            div.input_wrap {
              justify-content: space-between;
              width: 100%;
              margin-bottom: 10px;
              div.react-datepicker-wrapper {
                width: 47.5%;
                div.react-datepicker__input-container {
                  input {
                    width: 100%;
                  }
                }
              }
            }
            
            button.reservation_btn {
              width: 100%;
              height: 30px;
              padding: 5px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
    
  @media screen and (max-width : $md-max-breakpoint) {
    & {
        p.acc_name {
          margin-bottom: 20px;
        }
        div.content_container {
          flex-direction: column;
          margin-bottom: 2rem;
          padding: 2rem 0.5rem;
          
          div.room_info_container {
            width: 100%;
            margin-bottom: 20px;
            div.info_top_wrap {
              margin-bottom: 50px;
            }
            div.info_bottom_wrap {
              margin-bottom: 15px;
              p {
                font-size: 0.9rem;
              }
            }
          }
          div.room_swiper_container {
            width: 100%;
            div.checkdate_container {
              flex-direction: column;
              border-bottom: none;
              div.input_wrap {
                justify-content: space-between;
                width: 100%;
                margin-bottom: 10px;
                div.react-datepicker-wrapper {
                    width: 47.5%;
                  div.react-datepicker__input-container {
                    input {
                      width: 100%;
                    }
                  }
                }
              }

              button.reservation_btn {
                width: 100%;
                height: 30px;
                padding: 5px;
                line-height: 20px;
              }
            }
          }
        }
        div.common_container {
          flex-direction: column;
          align-items: flex-start;

          &.features_contatiner {
            div.info {
              overflow-x: auto;
              div {
                margin-right: 10px;
              }
            }
          }
          &.amenities_container {
            padding: 2rem 1rem;
            div.info {
              margin-bottom: 10px;
            }
          }
          
          p.title {
            margin-bottom: 20px;
          }
          
          div.info {
            width: 100%;
            white-space: nowrap;
            p.amenities {
              margin-right: 0;
            }
          } 
      }

      div.common_container + div.amenities_container + div.page_title_container {
        margin-bottom: 30px;
        p.title {
          font-weight: 600;
        }
      }

      div.other_room_container {
        a {
          width: 90%;
        }
      }
    }
  }

  @include responsive(sm) {
    & {
      div.content_container{
        margin-bottom: 30px;
        div.room_info_container {
          div.info_top_wrap {
            margin-bottom: 60px;
          }

          div.info_bottom_wrap {
            margin-bottom: 0;
          }
        }
      }
      div.common_container {
        align-items: flex-start;
        &.amenities_container {
          margin-bottom: 0;
          div.info {
            margin-bottom: 0;
          }
        }
        div.info {
          justify-content: flex-start;
          overflow-x: auto;
          div {
            margin-right: 20px;
            padding-bottom: 1rem;
          }
          p.amenities {
            margin-right: 10px;
            padding-bottom: 1rem;
          }
        }
      }
    }
  }
}